# API
generic/config.py

# Images
generic/images

# pyCache
generic/__pycache__
estimation/analysis/__pycache__
estimation/utils/__pycache__
estimation/__pycache__

# CMake build
build

# Vscode
.vscode
