# API
generic/config.py

# Images
#generic/images

# pyCache
generic/__pycache__
estimation/analysis/__pycache__
estimation/__pycache__
accessibility/__pycache__
utils/__pycache__

#detectron2
detectron2

#OneFormer
OneFormer

# CMake build
build

# Vscode
.vscode

# Venv
venv 

# Models configs
generic/configs

generic/output

sidewalk-env
venv

# Environment
environment.yml